<?xml version="1.0" encoding="UTF-8"?>  
<web-app 
    version="3.0"  
    xmlns="http://java.sun.com/xml/ns/javaee"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    > 
     
	
	<filter>  
        <filter-name>EncodingFilter</filter-name>  
        <filter-class>TestWeb.EncodingFilter</filter-class>  
    </filter>  
    <filter-mapping>  
         <filter-name>EncodingFilter</filter-name>  
              <url-pattern>/*</url-pattern>  
    </filter-mapping> 
    
    <filter>  
        <filter-name>SessionIdFilter</filter-name>  
        <filter-class>com.platform.sessionmanager.SessionIdFilter</filter-class>  
    </filter>  
    <filter-mapping>  
         <filter-name>SessionIdFilter</filter-name>  
              <url-pattern>/*</url-pattern>  
    </filter-mapping> 
   
     <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	
	<listener>  
        <listener-class>  
            org.springframework.web.context.request.RequestContextListener  
        </listener-class>  
    </listener> 
	<!--Spring的ApplicationContext 载入 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
 
    <!-- 配置springmvc启动dispatcherServlet入口 -->  
    <!-- 中央控制器 --> 
    <servlet>
        <servlet-name>springDispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    	 <init-param>  
            <param-name>contextConfigLocation</param-name>  
            <param-value>classpath:springDispatcherServlet-servlet.xml</param-value>  
        </init-param>  
        <load-on-startup>1</load-on-startup>  
    </servlet>
    <servlet-mapping>
        <servlet-name>springDispatcherServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
	
    
  <!--Spring的ApplicationContext 载入 -->
	 <listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener> 
  
  <servlet>
         <servlet-name>set</servlet-name>
         <servlet-class>TestWeb.TestSet</servlet-class>
  </servlet>
  <servlet-mapping>
        <servlet-name>set</servlet-name>
        <url-pattern>/set</url-pattern>
  </servlet-mapping>
  
  <servlet>
         <servlet-name>get</servlet-name>
         <servlet-class>TestWeb.TestGet</servlet-class>
  </servlet>
  <servlet-mapping>
        <servlet-name>get</servlet-name>
        <url-pattern>/get</url-pattern>
  </servlet-mapping>
    
    
    
    
    
  
</web-app>
